<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>TG - Home</title>
</head>

<body>
    <div class="bg"></div>
    
    <nav class="navbar">
        <div class="Org-logo">
            <img src="/images/logo.png" alt="Site">
            <h4>Tech Genkai</h4>
        </div>
        <div class="search-bar">
            <input type="text" class="search" placeholder="Search on site">
        </div>
        <div class="nav-icons">
            <a href="#"><img src="/images/add.png" alt="Add"></a>
            <a href="#"><img src="/images/hash.svg" alt="Hash"></a>
            <a href="/messages"><img src="/images/message-icon.png" alt="Messages"></a>            
            <a href="/profile"><img src="/images/default-profile.png" alt="Profile" id="navProfilePic"></a>
        </div>
    </nav>
    <div class="sidebar">
            <h2>Tech Genkai</h2>
            <a href="/"><img src="/images/home-icon.svg" alt="Home">Home</a>
            <a href="/messages"><img src="/images/message-icon.png" alt="Messages">Messages</a>
            <a href="/friends"><img src="/images/user-friends.png" alt="Friends">Friends</a>
            <a href="#"><img src="/images/bell-icon.png" alt="Notifications">Notifications</a>
            <a href="/profile"><img src="/images/default-profile.png" alt="Profile" id="sidebarProfilePic"></a>
            <a href="#"><img src="/images/switch-account.png" alt="Accounts">Accounts</a>
            <a href="/logout"><img src="/images/logout.png" alt="Log Out">Log Out</a>
    </div>
    
    <div class="feed">
        <div id="chat-container">
            <div class="chat-header">
                <h2>Chat Room</h2>
            </div>
            <div id="messages" class="chat-messages"></div>
            <div class="chat-input-container">
                <textarea id="message-input" placeholder="Type a message..." rows="1"></textarea>
                <button id="send-message" class="send-btn">
                    <i class="bi bi-send-fill"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="trend">
        
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/notifications.js"></script>
    <script src="/js/profileManager.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>