<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="bg"></div>
    
    <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeModal()">&times;</span>
            <div class="success-icon">✓</div>
            <h2>Welcome Back!</h2>
            <p>Welcome back to your account.</p>
        </div>
    </div>
    
    <nav class="navbar">
        <div class="Org-logo">
            <img src="./images/logo.png" alt="Site">
        </div>
        <div class="search-bar">
            <input type="text" class="search" placeholder="Search on site">
        </div>
        <div class="nav-icons">
            <a href="#"><img src="./images/message-icon.png" alt="Messages"></a>
            <a href="#"><img src="./images/bell-icon.png" alt="Notifications"></a>
            <a href="#"><img src="./images/menu-icon.png" alt="Menu"></a>
            <a href="#"><img src="./images/profile-icon.png" alt="Profile"></a>
        </div>
    </nav>
    <div class="sidebar">
            <h2>Tech Genkai</h2>
            <a href="#"><img src="./images/home-icon.svg" alt="Home">Home</a>
            <a href="#"><img src="./images/message-icon.png" alt="Messages">Messages</a>
            <a href="#"><img src="./images/bell-icon.png" alt="Notifications">Notifications</a>
            <a href="#"><img src="./images/profile-icon.png" alt="Profile">Profile</a>
            <a href="/logout"><img src="./images/profile-icon.png" alt="Log Out">Log Out</a>
    </div>
    
    <div class="feed">
        
    </div>

    <script src="js/main.js"></script>
</body>

</html>